# .gitignore for WINDEV, WEBDEV and WINDEV Mobile projects
#
# WINDEV – WEBDEV – WINDEV Mobile
Backup
Bin
cache.gestion de sources
Corbeille
Historique
Groupware
Install_Exécutable Windows 32 bits
Exe
Lastsave
Sauvegarde
*.cache
*.cpl
*.env
*.rep
*.waudit
*.wdcoverage
*.wpf
HstDuree.log
#
#WEBDEV
*\res
*.awl
*.awp
#
# WINDEV Mobile 
android
*.xcode.gen